<div>
  <a href="/"><button>HOME</button></a>
  {{#if user}}
    <a href="/profile"><button>PROFILE</button></a>
  {{/if}}
  {{#if cart}}
    {{#each cart}}
    <table class="cartInfo">
      <tr>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>{{this.pid.title}}</td>
        <td class="price" value={{this.pid.price}}>$ {{this.pid.price}}</td>
        <td class="quantity" value={{this.quantity}}>{{this.quantity}}</td>
        <td class="subtotal"></td>
        <td>
          <button class="deleteCartItem" pid={{this.pid._id}}>delete</button>
        </td>
    </table>
      <button class="updateCartItem" pid={{this.pid._id}}>Checkout!</button>
    {{/each}}
  {{else}}
    <h2>Cart Empty</h2>
  {{/if}} 
</div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/cartManager.js"></script>