<div>
  <a href="/"><button>HOME</button></a>
  {{#if user}}
    <a href="/profile"><button>PROFILE</button></a>
  {{/if}}
  {{#if cart}}
    {{#each cart}}
      <div>
        <h2>{{this.pid.title}}</h2>
        <p class="code">NKU:{{this.pid.code}}</p>
        <p>{{this.pid.description}}</p>
        <h2>${{this.pid.price}}</h2>
      </div>
      <div>
        <form>
            <label for="qty">Qty: {{this.quantity}}</label>
            <br>
            <input type="submit" value="Delete" id="delete" class="deleteCartItem" pid={{this.pid._id}}>
        </form>
        <h3>Quantity</h3>
      </div>
    {{/each}}
  {{else}}
    <h2>Cart Empty</h2>
  {{/if}} 
</div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/deleteFromCart.js"></script>